/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2015, 00:56:00
    Author     : Gustavo
*/

.show{
    display: block;
}
.hide{
    display: none;
}
form.listaProdutoHome {
    margin-top: 10px;
}
.listaProdutoHome .verifica4:nth-child(4){
    clear: none !important;
}
.listaProdutoHome .verifica4:nth-child(4n+1){
    clear: both;
}
.listaProdutoHome .verifica4 {
    margin-bottom: 50px;
}
.listaProdutoHome .verifica4 img {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 160px;
}
.vejamais > a {
    background-color: green;
    color: #fff;
    font-size: 15px;
    line-height: 1em;
    padding: 4px 15px;
    text-transform: lowercase;
}
.vejamais {
    margin-top: 12px;
}
.precoProduto {
    color: red;
    font-size: 26px;
    font-weight: 600;
    line-height: 1em;
    margin-top: 12px;
}
.imagemProduto {
    height: 170px;
}
.divFooter {
    padding: 10px 0;
    text-align: center;
}
.mb20{
    margin-bottom: 20px;
}
.addProd {
    margin-top: 20px;
}
.nomeProd {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    padding: 7px 0;
    text-transform: capitalize;
}

.form-control {
    box-shadow: 0 0 0 0 !important;
}

.cadastro .ui-panelgrid-cell.ui-grid-col-6 {
    border: 0 none !important;
}
.cadastro .ui-grid-row {
    border: 0 none !important;
    padding: 0 !important;
}
.cadastro .ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive {
    border: 0 none !important;
}
.radio.form-group label.labelHorus {
    margin-left: 0 !important;
    padding-left: 0;
}
.radio.form-group table {
    border: 0 none;
}

.radio.form-group label + span {
    border: 0 none;
    border-radius: 0;
    margin: 0 !important;
    padding: 0;
}
.radio.form-group .hasDatepicker ,input{
    box-shadow: 0 0 0 0 !important;
}
.radio.form-group .btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0 0 0 0 !important;
    color: #fff;
}
.radio.form-group .btn-success span{
    text-shadow: 0 0 0 !important;
    color: #fff;
}
.radio.form-group .btn-success:hover,.radio.form-group .btn-success:focus, 
.radio.form-group .btn-success:active, .radio.form-group .btn-success.active, 
.radio.form-group .open > .dropdown-toggle.btn-success {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

fieldset.cadastro legend {
    background: transparent !important;
    border-radius: 0 !important;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    width: 260px;
}
.buttonProd.btn.btn-info{
    box-shadow: 0 0 0 0  !important;
    color: #fff !important;
}

.buttonProd.btn.btn-warning{
    box-shadow: 0 0 0 0  !important;
    color: #fff !important;
}
.buttonProd.btn.btn-warning:hover,
.buttonProd.btn.btn-warning:focus{
    background-color: #ec971f !important;
    border-color: #d58512 !important;
    color: #fff !important;
}